%p#notice= notice

%p
  %b Student:
  = @health.student
%p
  %b Diagonosis:
  = @health.diagonosis
%p
  %b Prescription:
  = @health.prescription
%p
  %b Need for outside referral:
  = @health.need_for_outside_referral
%p
  %b User:
  = @health.user

= link_to 'Edit', edit_health_path(@health)
\|
= link_to 'Back', healths_path
