.row
	.col-lg-12
		%section.panel
			= form_for @student do |f|
				.panel-body
					- if @student.errors.any?
						#error_explanation
							%h2= "#{pluralize(@student.errors.count, "error")} prohibited this student from being saved:"
							%ul
								- @student.errors.full_messages.each do |msg|
									%li= msg
					.col-lg-6
						%br
						%h3 Student's Details
						%hr
						.form-group
							= f.label :name
							.iconic-input
								%i.fa.fa-user
								= f.text_field :name, class: "form-control"
						.row
							.col-lg-6
								.form-group
									= f.label :admission_number
									.iconic-input
										%i.fa.fa-list-ol
										= f.text_field :admission_number, class: "form-control"
							.col-lg-6
								.form-group
									= f.label :gender
									.iconic-input
										%select.form-control{type: "text", name: "student[gender]"}
											%option Male
											%option Female
						.row
							.col-lg-6
								.form-group
									= f.label "Previous School"
									.iconic-input
										%i.fa.fa-university
										= f.text_field :previous_school, class: "form-control"
							.col-lg-6
								.form-group
									= f.label "Last Exam Score"
									.iconic-input
										%i.fa.fa-file-text-o
										= f.text_field :last_exam_score, class: "form-control"
						.form-group
							%label Class
							.row
								.col-sm-3{style: "padding-right: 0px;"}
									%select.form-control#classes{:type => "text"}
										%option Select Class
										- Form.all.each do |form|
											%option{value: "#{form.id}"}
												= form.name
								.col-sm-9{style: "padding-left: 5px;"}
									/ %select.form-control#streams{:type => "text", name: "student[stream_id]"}
									= f.grouped_collection_select :stream_id, Form.order(:name), :streams, :name, :id, :name, include_blank: true, html_options: {class: "form-control"}
							/ .input-group.m-bot15
							/ 	.input-group-btn
							/ 		%button.btn.btn-primary.dropdown-toggle{"data-original-title" => "", "data-toggle" => "dropdown", :title => "", :type => "button"}
							/ 			Class
							/ 			%span.caret
							/ 		%ul.dropdown-menu#forms
							/ 			- Form.all.each do |form|
							/ 				%li
							/ 					%a{id: "#{form.name}"}
							/ 						= form.name
							/ 	%select.form-control#streams{:type => "text"}
							/ 		%option Select a stream
						.row
							.col-lg-6
								.form-group
									= f.label :dob, "Date of Birth"
									.iconic-input
										%i.fa.fa-calendar
										= f.text_field :dob, class: "datetimepicker form-control"
							.col-lg-6
								.form-group
									= f.label :photo
									= f.file_field :photo, class: "form-control"
					.col-lg-6
						%br
						%h3 Guardian's Details
						%hr
						.form-group
							%label Parent / Guardian already saved? If yes, choose from dropdown.
							%select.form-control#parents{:type => "text", name: "guardian"}
								%option Select Guardian
								%option Guardian Not Listed? Fill in the details below:
								- Guardian.all.each do |g|
									%option{value: "#{g.id}"}
										= g.name
						.form-group
							%label Name
							.iconic-input
								%i.fa.fa-user
								= text_field_tag "guardian_name", (@student.guardian.nil?? nil : @student.guardian.name), class: "form-control"
						.form-group
							%label ID Number
							.iconic-input
								%i.fa.fa-credit-card
								= text_field_tag "guardian_id_no", (@student.guardian.nil?? nil : @student.guardian.id_number), class: "form-control"
						.form-group
							%label Phone Number
							.iconic-input
								%i.fa.fa-phone
								= text_field_tag "guardian_number", (@student.guardian.nil?? nil : @student.guardian.phone_number), class: "form-control"
						.form-group
							%label Address
							.iconic-input
								%i.fa.fa-map-marker
								= text_field_tag "guardian_address", (@student.guardian.nil?? nil : @student.guardian.address), class: "form-control"
				.panel-footer
					.actions.pull-right
						%button.btn.btn-primary.btn-rounded{"data-original-title" => "", :title => "", :type => "submit"}
							%i.fa.fa-save
							Save
/ %script{:charset => "utf-8", :type => "text/javascript"}
/ 	function populateStreams() {
/ 	var e = document.getElementById("classes");
/ 	var value = e.options[e.selectedIndex].text;
/ 	var f = document.getElementById("forms-streams").value
/ 	alert(f)
/ 	/ for (var item in f) {
/ 	/ console.log(f[item])
/ 	/ if(f[item] === value) {
/ 	/ var option = document.createElement("option");
/ 	/ option.text = f[item];
/ 	/ option.value = item; 
/ 	/ document.getElementById("streams").options.add(option);
/ 	/ }
/ 	/ }
/ 	/ alert("The input value has changed. The new value is: " + f);
/ 	}

/ 	function parentDetails() {
/ 	document.getElementById("guardian_name").value = "Muaad"
/ 	}
/ %script{:src => "//code.jquery.com/jquery-1.10.2.js"}
/ :javascript
/ 	alert("hello")
/ 	$(function() {
/ 		alert("hello")
/ 		$("#parents").change(function() {
/ 			alert("hello")
/ 		});
/ 		$.get('/students.json', function(data) {
/ 		  alert(data)
/ 		}
/ 	});
