%p#notice= notice

%p
  %b Student:
  = @discipline.student
%p
  %b Offense:
  = @discipline.offense
%p
  %b Punishment:
  = @discipline.punishment
%p
  %b Level:
  = @discipline.level

= link_to 'Edit', edit_discipline_path(@discipline)
\|
= link_to 'Back', disciplines_path
